# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#IdeFolder
*.sqlite
*.json
clion*.txt
*.cmake
*.cbp
*.xml
*.iml
*.csv
*.zip
*.txt
cmake.check_cache
feature_tests.c
CMakeCache.txt

# Debug files
*.dSYM/
*.su
